@charset "UTF-8";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  line-height: 1.45;
  padding: 1em;
  margin: 0;
}

svg {
  display: block;
}

.content {
  margin-left: 30em;
  width: 84em;
}

.side-note {
  width: 27em;
  float: left;
}

h1 {
  font-size: 2.6em;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0 0 .5em;
}

p, li {
  font-size: 1.3em;
  color: #888;
}

p {
  margin: 0 0 .75em;
}

p a {
  color: #555;
  text-decoration: underline;
}

p a:hover {
  color: #333;
}

p strong, p b {
  color: #555;
  font-weight: bold;
}

/* ========================================================================== */

#header {
  margin-bottom: 2em;
}

#header .left-column {
  float: left;
  width: 48%;
}

#header .right-column {
  float: right;
  width: 48%;
}

#header p,
#header li {
  font-size: 1.4em;
}

#footer {
  clear: both;
  margin-top: 5em;
}

/* ========================================================================== */

.graticule {
  fill: none;
  stroke: rgba(120,120,120,0.55);
  stroke-width: 0.5px;
  stroke-opacity: 0.4;
}

.land {
  fill: #e6e6e6;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.stroke {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
}

.ground-track {
  fill: none;
  stroke: #a00;
  stroke-width: 1.5px;
  stroke-opacity: 0.75;
}

.pass {
  fill: none;
  stroke-width: 3px;
  stroke-opacity: 0.55;
}

.ground-track {
  stroke-opacity: 0.35;
}

.ground-track.kep {
  stroke-opacity: 0.2;
}

.ground-track.rk4 {
  stroke-opacity: 0.2;
}

.ground-track.rk4-j2 {
  stroke-opacity: 0.4;
}

.world-map {
  border: 1px solid #ccc;
  display: block;
}

.station {
  stroke: white;
  cursor: move;
  stroke-width: 1px;
}

/* ========================================================================== */

#station-views {
  margin-top: 1em;
}

#station-views svg {
  border: 1px solid #ccc;
}

#station-views path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#station-views .horizon {
  stroke: #000;
  stroke-opacity: .2;
  stroke-width: 1.5px;
}

#station-views .mask {
  stroke: #000;
  stroke-opacity: .2;
  stroke-dasharray: 2,3;
  stroke-width: 1.5px;
  fill: rgba(0,0,0,.05);
}

#station-views .graticule {
  stroke: #000;
  stroke-opacity: .1;
}

#station-views .ticks line {
  stroke: #000;
  stroke-opacity: .2;
}

#station-views text {
  font: 9px sans-serif;
  fill: rgba(96, 96, 96, 0.35);
}

#station-views .ticks text {
  text-anchor: middle;
}

#station-views .ticks--azimuth text:nth-of-type(3n + 1) {
  font-weight: bold;
  font-size: 11px;
  fill: rgba(50, 50, 50, 0.55);
}

.station-view-wrapper {
  float: left;
  color: #9c9c9c;
}

.station-view-wrapper h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  margin: .5em 0 .2em;
  padding: 0;
  color: black;
}

.station-view-wrapper p {
  margin: 0;
}

/* ========================================================================== */

#axis {
  height: 3.5em;
  overflow: visible;
}

#axis .content {
  position: absolute;
  z-index: -1;
}


#graphs {
  margin-top: 2.5em;
}

#graphs .axis path {
  fill: none;
  stroke: none;
}

#graphs .axis line {
  fill: none;
  stroke: #ccc;
  stroke-dasharray: 1,2;
  shape-rendering: crispEdges;
}

#graphs .axis .day line {
  stroke: #999;
  stroke-dasharray: 1,1;
}

#graphs .axis text {
  font-size: 11px;
  text-transform: uppercase;
  fill: #888;
}

#graphs .axis .day text {
  fill: #555;
  font-weight: bold;
}

#graphs h2.big {
  margin-top: -0.75em;
  margin-bottom: 2em;
}

.graph {
  margin-bottom: 3em;
}

.graph h3 {
  font-weight: normal;
  font-size: 1.4em;
  color: #999;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* ========================================================================== */

.passes .ground-station-label {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-anchor: end;
  dominant-baseline: middle;
}

.passes-guide {
  stroke: rgba(0,0,0,.07);
}

/* ========================================================================== */

.multi-line-graph .line {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

.multi-line-graph .y-axis .domain {
  fill: none;
  stroke: none;
}

.multi-line-graph .y-axis line {
  stroke: rgba(0,0,0,.15);
  shape-rendering: crispEdges;
}

.multi-line-graph .unit {
  font-size: 11px;
  color: black;
  text-anchor: middle;
}

.multi-line-graph .legend text {
  font-weight: bold;
  color: black;
  text-anchor: end;
}
