/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.graticule {
  fill: none;
  stroke: rgba(120,120,120,0.55);
  stroke-width: 0.5px;
  stroke-opacity: 0.4;
}

.land {
  fill: #ddd;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.stroke {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
}

.ground-track {
  fill: none;
  stroke: #a00;
  stroke-width: 1.5px;
  stroke-opacity: 0.75;
}

.ground-track.kep {
  stroke: rgba(234, 14, 14, 0.38);
}

.ground-track.rk4 {
  stroke: rgba(6, 216, 42, 0.35);
}

.ground-track.rk4-j2 {
  stroke: #15609f;
}

.world-map {
  border: 1.5px solid #ccc;
  cursor: move;
}
